<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.puyangsky.blog.dao.ArticleDao" >
    <resultMap id="BaseResultMap" type="com.puyangsky.blog.model.Article" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, title, content, author, publish_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from article
        where id = #{id,jdbcType=INTEGER}
        and deleted = 0
    </select>
    <select id="selectByTitle" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from article
        where title LIKE concat(concat('%',#{title,jdbcType=VARCHAR}),'%')
        and deleted = 0
    </select>
    <select id="selectByPage" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from article
        where deleted = 0
        order by publish_time
        LIMIT #{begin, jdbcType=INTEGER}, #{num, jdbcType=INTEGER}
    </select>
    <select id="selectByTime" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from article
        where deleted = 0
        order by publish_time desc
        LIMIT #{num, jdbcType=INTEGER}
    </select>
    <select id="selectArticlesByTagName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        a.id, a.title, a.content, a.author, a.publish_time
        from article as a
        where a.id in (
        select atr.article_id
        from article_tag_relationship as atr
        where atr.tag_id = (
        select t.id from tag as t where t.name = #{tagName, jdbcType=VARCHAR}
        )
        )
        and a.deleted = 0
    </select>
    <select id="selectByMonth" resultType="java.util.HashMap">
        select count(*) as count, date_format(publish_time, "%Y-%m") as month
        from article
        where deleted = 0
        group by date_format(publish_time, "%Y-%m")
    </select>
    <select id="selectArticlesByMonth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        where date_format(publish_time, "%Y-%m") = #{month, jdbcType=VARCHAR}
        and deleted = 0
        order by publish_time
    </select>
    <select id="selectPages" resultType="java.lang.Integer">
        select
        count(id)
        from article
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from article
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <update id="deleteByTitle" parameterType="java.lang.String" >
        update article
        set deleted = 1
        where title = #{title,jdbcType=VARCHAR}
    </update>
    <insert id="insert" parameterType="com.puyangsky.blog.model.Article" >
        insert into article (id, title, content,
        author, publish_time)
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
        #{author,jdbcType=VARCHAR}, #{publishTime, jdbcType=TIMESTAMP})
    </insert>
</mapper>