<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.puyangsky.blog.dao.TagDao" >
    <resultMap id="BaseResultMap" type="com.puyangsky.blog.model.Tag" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="articleNum" property="article_num" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, article_num
    </sql>
    <select id="selectAllTags" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from tag
    </select>
    <delete id="deleteTagByName" parameterType="java.lang.String" >
        delete from tag
        where name = #{tagName,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.puyangsky.blog.model.Tag" >
        insert into tag (id, name, article_num)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{articleNum,jdbcType=INTEGER})
    </insert>
</mapper>